In [1]:
import main as tools
final_dataFrame = tools.all_data_concat()
print(final_dataFrame.info())
final_dataFrame.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   乘車日期    406761 non-null  int64
 1   車站代碼    406761 non-null  int64
 2   進站人數    406761 non-null  int64
 3   出站人數    406761 non-null  int64
 4   車站名稱    406761 non-null  object
 5   車站地址    406761 non-null  object
dtypes: int64(4), object(2)
memory usage: 18.6+ MB
None

       乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址
0  20190423   900  8442  7743   基隆            基隆市仁愛區港西街5號
1  20190423   910  1394  1348   三坑     基隆市仁愛區德厚里龍安街 206 號
2  20190423   920  2770  2423   八堵     基隆市暖暖區八南里八堵路 142 號
3  20190423   930  6113  6335   七堵       基隆市七堵區長興里東新街 2 號
4  20190423   940  2680  2726   百福  基隆市七堵區堵南里明德三路 1 之 1 號

In [2]:
import pandas as pd

final_dataFrame['乘車日期'] = pd.to_datetime(final_dataFrame['乘車日期'], format='%Y%m%d')
final_dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406761 entries, 0 to 406760
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   乘車日期    406761 non-null  datetime64[ns]
 1   車站代碼    406761 non-null  int64
 2   進站人數    406761 non-null  int64
 3   出站人數    406761 non-null  int64
 4   車站名稱    406761 non-null  object
 5   車站地址    406761 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 18.6+ MB