In [1]:
import numpy as np
import pandas as pd


students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=['國文','英文','數學','地理','歷史'])
students_df

      國文   英文  數學  地理  歷史
學生1   88   98  67  81  62
學生2   85   85  81  69  74
學生3   56   89  62  95  70
學生4   84   87  52  98  52
學生5   93   52  66  65  89
學生6   73   57  51  91  81
學生7   94  100  91  87  79
學生8   77   70  64  61  53
學生9   75   50  58  71  60
學生10  68   67  55  98  53
學生11  80   95  79  82  62
學生12  82   79  78  55  82
學生13  65   88  66  89  58
學生14  70   63  82  64  87
學生15  54   65  79  61  64
學生16  96   59  88  64  87
學生17  67   65  63  66  85
學生18  58   68  55  84  83
學生19  77   78  78  97  68
學生20  87   84  59  90  54
學生21  79   66  68  51  82
學生22  74   86  72  89  83
學生23  96   73  96  73  88
學生24  74   96  72  54  75
學生25  79   88  85  79  65
學生26  64   92  84  84  89
學生27  96   66  73  60  50
學生28  90   77  85  68  91
學生29  85   99  75  76  55
學生30  83   62  69  88  74
學生31  52   95  64  90  81
學生32  69   87  59  88  73
學生33  93   93  68  78  58
學生34  97   78  59  51  75
學生35  51   90  58  55  61
學生36  91   85  75  79  74
學生37  69   76  71  78  90
學生38  67   65  89  72  51
學生39  80   87  65  89  75
學生40  68   89  58  71  94
學生41  66   70  74  81  68
學生42  67   85  93  95  90
學生43  86   50  81  57  66
學生44  54   88  81  69  61
學生45  76   86  74  98  72
學生46  86   70  99  50  82
學生47  60   98  63  68  61
學生48  94   91  90  81  79
學生49  84   70  84  90  59
學生50  85   59  76  64  99

In [2]:
students_df.to_numpy()

array([[ 88,  98,  67,  81,  62],
       [ 85,  85,  81,  69,  74],
       [ 56,  89,  62,  95,  70],
       [ 84,  87,  52,  98,  52],
       [ 93,  52,  66,  65,  89],
       [ 73,  57,  51,  91,  81],
       [ 94, 100,  91,  87,  79],
       [ 77,  70,  64,  61,  53],
       [ 75,  50,  58,  71,  60],
       [ 68,  67,  55,  98,  53],
       [ 80,  95,  79,  82,  62],
       [ 82,  79,  78,  55,  82],
       [ 65,  88,  66,  89,  58],
       [ 70,  63,  82,  64,  87],
       [ 54,  65,  79,  61,  64],
       [ 96,  59,  88,  64,  87],
       [ 67,  65,  63,  66,  85],
       [ 58,  68,  55,  84,  83],
       [ 77,  78,  78,  97,  68],
       [ 87,  84,  59,  90,  54],
       [ 79,  66,  68,  51,  82],
       [ 74,  86,  72,  89,  83],
       [ 96,  73,  96,  73,  88],
       [ 74,  96,  72,  54,  75],
       [ 79,  88,  85,  79,  65],
       [ 64,  92,  84,  84,  89],
       [ 96,  66,  73,  60,  50],
       [ 90,  77,  85,  68,  91],
       [ 85,  99,  75,  76,  55],
       [ 83,  62,  69,  88,  74],
       [ 52,  95,  64,  90,  81],
       [ 69,  87,  59,  88,  73],
       [ 93,  93,  68,  78,  58],
       [ 97,  78,  59,  51,  75],
       [ 51,  90,  58,  55,  61],
       [ 91,  85,  75,  79,  74],
       [ 69,  76,  71,  78,  90],
       [ 67,  65,  89,  72,  51],
       [ 80,  87,  65,  89,  75],
       [ 68,  89,  58,  71,  94],
       [ 66,  70,  74,  81,  68],
       [ 67,  85,  93,  95,  90],
       [ 86,  50,  81,  57,  66],
       [ 54,  88,  81,  69,  61],
       [ 76,  86,  74,  98,  72],
       [ 86,  70,  99,  50,  82],
       [ 60,  98,  63,  68,  61],
       [ 94,  91,  90,  81,  79],
       [ 84,  70,  84,  90,  59],
       [ 85,  59,  76,  64,  99]], dtype=int32)

In [3]:
# Series
students_df['國文']
students_df['英文']

學生1      98
學生2      85
學生3      89
學生4      87
學生5      52
學生6      57
學生7     100
學生8      70
學生9      50
學生10     67
學生11     95
學生12     79
學生13     88
學生14     63
學生15     65
學生16     59
學生17     65
學生18     68
學生19     78
學生20     84
學生21     66
學生22     86
學生23     73
學生24     96
學生25     88
學生26     92
學生27     66
學生28     77
學生29     99
學生30     62
學生31     95
學生32     87
學生33     93
學生34     78
學生35     90
學生36     85
學生37     76
學生38     65
學生39     87
學生40     89
學生41     70
學生42     85
學生43     50
學生44     88
學生45     86
學生46     70
學生47     98
學生48     91
學生49     70
學生50     59
Name: 英文, dtype: int32

In [4]:
students_df[['國文','英文']]

      國文   英文
學生1   88   98
學生2   85   85
學生3   56   89
學生4   84   87
學生5   93   52
學生6   73   57
學生7   94  100
學生8   77   70
學生9   75   50
學生10  68   67
學生11  80   95
學生12  82   79
學生13  65   88
學生14  70   63
學生15  54   65
學生16  96   59
學生17  67   65
學生18  58   68
學生19  77   78
學生20  87   84
學生21  79   66
學生22  74   86
學生23  96   73
學生24  74   96
學生25  79   88
學生26  64   92
學生27  96   66
學生28  90   77
學生29  85   99
學生30  83   62
學生31  52   95
學生32  69   87
學生33  93   93
學生34  97   78
學生35  51   90
學生36  91   85
學生37  69   76
學生38  67   65
學生39  80   87
學生40  68   89
學生41  66   70
學生42  67   85
學生43  86   50
學生44  54   88
學生45  76   86
學生46  86   70
學生47  60   98
學生48  94   91
學生49  84   70
學生50  85   59