In [ ]:
import pandas as pd

# 美國球賽的小費數據集
tips = pd.read_csv('tips.csv')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   smoker      244 non-null    object
 3   day         244 non-null    object
 4   time        244 non-null    object
 5   size        244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

In [3]:
# 改變tips的欄位名稱
tips.columns = ['總票價', '小費', '是否吸煙', '日期', '時間', '人數']
tips

       總票價    小費 是否吸煙    日期      時間  人數
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [4]:
# 重新排序欄位的順序
tips = tips[['日期', '時間', '是否吸煙', '人數', '總票價', '小費']]

# 新增一個欄位:小費比列
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

C:\Users\顏于雅\AppData\Local\Temp\ipykernel_6792\878123239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips['小費比例'] = tips['小費'] / tips['總票價']

       日期      時間 是否吸煙  人數    總票價    小費      小費比例
0     Sun  Dinner   No   2  16.99  1.01  0.059447
1     Sun  Dinner   No   3  10.34  1.66  0.160542
2     Sun  Dinner   No   3  21.01  3.50  0.166587
3     Sun  Dinner   No   2  23.68  3.31  0.139780
4     Sun  Dinner   No   4  24.59  3.61  0.146808
..    ...     ...  ...  ..    ...   ...       ...
239   Sat  Dinner   No   3  29.03  5.92  0.203927
240   Sat  Dinner  Yes   2  27.18  2.00  0.073584
241   Sat  Dinner  Yes   2  22.67  2.00  0.088222
242   Sat  Dinner   No   2  17.82  1.75  0.098204
243  Thur  Dinner   No   2  18.78  3.00  0.159744

[244 rows x 7 columns]

In [5]:
# 依照日期,建立一個群組
grouped = tips.groupby('日期')
len(grouped)

4